<!DOCTYPE html>
<html>

<head>
	<title>Memo application by Rickard Eneroth</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="memo.js"></script>
</head>

<body ng-app="myapp">
	<h2>Memo - en enkel "komihåg"-applikation av Rickard Eneroth</h2>
	<img src="memo_image.jpg" width=80>
	<div ng-controller="MyController" >

  		<form>
  			<table>
  				<tr><td><b>Namn</b></td><td><input type="text" id="name" ng-model="myForm.name" ng-minlength="1" ng-maxlength="30"></td></tr>
    			<tr><td><b>Memo</b></td><td><input type="text" id="memo" ng-model="myForm.memo" ng-minlength="1" ng-maxlength="30"></td></tr>
			</table>
			<p>
			<button ng-click="myForm.submitTheFormGetAll()">Hämta alla memos</button>
    		<button ng-click="myForm.submitTheFormGet()">Hämta alla memos för {{myForm.name}}</button>
			<button ng-click="myForm.submitTheFormAdd()">Skapa nytt memo "{{myForm.memo}}" för {{myForm.name}}</button>
  		</form>

		<p>

		<div ng-repeat="memo in memo_response.memos">
			<table border=1>
				<tr><td><b>Namn:</b> {{memo.userId}}</td></tr>
				<tr><td><b>Memo:</b> {{memo.memo}}</td></tr>
				<tr><td><b>Datum/Tid:</b> {{memo.timestamp}}</td></tr>
				<tr><td><form><button ng-click="myForm.submitTheFormDelete(memo.id)"><strong>Radera</strong></button></form></td></tr>
			</table>
			<p>
		</div>

		<p><b>Antal visade memos:</b> {{memo_response.memos.length}}
	</div>
</body>

</html>