#square {
      width: 120px;
      height: 120px;
      border: 2px inset gray;
      margin-bottom: 1em;
  }

  button {
      padding: .5em 2em;
  }

body {
  font: 14px;
}

/* paragraphs */
p {
  color: blue;
}

#first {
  font-style: italic;
}

/* initial letters */
strong {
  background-color: #ddf; 
  color: red;
}

.spinach {
  color: green;
  background-color: #ddf;
}
